h1{
    color:blueviolet;
    text-align: center;
}
h3,h2{
    text-align: center;
}

h4{
    text-align: center;
    color:red;
}

header{
    background-color:violet ;
    width: 100%;
    text-align: center;
    padding: 2vh 0;
    border-bottom: 4px solid black;
}

header h1{
    color:black;
    font-family: sans-serif;
    font-size: 40px;
}

footer{
    background-color:black ;
    width: 100%;
    padding: 3vh 0;
    color: violet;
    text-align: center;
    align-content: center;
    margin-top: 2vh;
    border-radius: 10px;
}

footer p{
    font-family: sans-serif;
    font-size: 20px;
}

footer a{
    text-decoration: none;
    color: blueviolet;
    border: 2px solid blueviolet;
    padding: 1vh;
}

.main{
   flex-grow: 1;
}

body{

    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

.result{
    padding: 3vh;
    border: 2px solid black;
    box-shadow: black;
    margin-top: 1vh;
}

form{
    margin-top: 2vh;
    padding: 3vh;
    border: 2px double blueviolet;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}

.formSearch{

    flex-direction: row;
}

#search{
    padding: 1vh;
    font-size: medium;
    font-weight: normal;
    width: min-content;

}

#submit{
    width: min-content;
    padding: 1.5vh;
    background-color: blueviolet;
    border-radius: 50px;
}

img{
    text-align: center;
    width:35%;
    align-self: center;
    margin-bottom: 1vh;
    border-radius: 50px;
}